body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;font-size:66.3%}
fieldset,img{border:0;}
ul,ol{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
a{text-decoration: none;color:#000;	overflow: hidden; text-indent: -9999px;}
a:hover{text-decoration: underline;color:#000;}
small{font-size:12px;}
h1,h2,h3,h4,h5,h6,button,input,select,textarea{font-size:100%;}
label,input,select,form img,button,textarea{vertical-align:middle;outline:none}
address,caption,cite,code,dfn,em,strong,th,optgroup{font-style:normal;font-weight:normal;}
.clear:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clear{display:inline-block;}
/* Hides from IE-mac \*/
* html .clear{height:1%;}
.clear{display:block;}
body,html {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    background: #EEE9DB;
    max-width: 750px;
    margin: 0 auto;
}
*{-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
    -webkit-tap-highlight-color:transparent;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
tap-highlight-color: rgba(0, 0, 0, 0);
}
span.tips {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5) url(../images/jh.gif) no-repeat center;
    top: 0;
    color: #fff;
    font-size: 40px;
    text-align: center;
    z-index: 99999;
}
.music {
    position: absolute;
    width: 81px;
    height:99px;
    background: url('../images/music.png') no-repeat center;
    background-size: contain;
    right: 23px;
    top: 23px;
    z-index: 999;
}
.music.off{
    background: url('../images/music_off.png') no-repeat center;
}
.page {
    position: relative;
    width: 100%;
    height: 100%;
}
section.p0 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/homebg.jpg?123) no-repeat center;
    background-size: cover;
    z-index: 111;
}
.hand {
    position: absolute;
    width: 60px;
    height: 69px;
    background: url(../images/hd.png) no-repeat;
    left: 371px;
    top: 592px;
    -webkit-animation:hdmv 1s infinite;-webkit-animation-fill-mode: forwards;
}
.page_des {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 814px;
    height: 200px;

}
.page_des p{
    position: relative;
    width: 100%;
    background: url(../images/h_t.png) no-repeat center;
    height: 200px;
    display: block;
}
section.p2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #EEE9DB url(../images/p2.jpg) no-repeat center;
    background-size: cover;
    z-index: 3;
}
a.go30,a.go60,a.go80,a.go90  {
    position: absolute;
    width: 40%;
    height: 216px;
    left: 30%;
}
a.go30{
    top: 13%;
}
a.go60{
    top: 33%;
}
a.go80{
    top: 53%;
}
a.go90{
    top: 73%;
}

section.p3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/0.png) no-repeat center;
    background-size: cover;
    z-index: 2;
}
section.p3 a{
    position: absolute;
    width: 100%;
    height: 112px;
    display: block;
    bottom: 3%;
}
section.p3 a.btn0{
    background: url(../images/btn_0.png) no-repeat center;
}
section.p3 a.btn1{
    background: url(../images/btn_1.png) no-repeat center;
}
section.p3 a.btn2{
    background: url(../images/btn_2.png) no-repeat center;
}
section.p3 a.btn3{
    background: url(../images/btn_3.png) no-repeat center;
}

section.p3 .t0{
    position: absolute;
    width: 45px;
    height: 587px;
     background: url(../images/t_0.png) no-repeat;
    left: 660px;
    top: 460px;
}

section.p3 .t1{
    position: absolute;
    width:45px;
    height: 587px;
   background: url(../images/t_1.png) no-repeat;
    left: 64px;
    top:84px;
}

section.p3 .t2{
    position: absolute;
    width:45px;
    height: 587px;
    background: url(../images/t_2.png) no-repeat;
    left: 662px;
    top:62px;
}

section.p3 .t3{
    position: absolute;
    width:108px;
    height: 477px;
    background: url(../images/t_3.png) no-repeat;
    left: 35px;
    top:556px;
}
section.p3 span{
    opacity: 0;
}


section.p4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/bg2.jpg) no-repeat center;
    background-size: cover;
    z-index: 1;
}

.p4 img.txt {
    position: absolute;
    left: 164px;
    top: 238px;
}
.mypic {
    position: relative;
    width: 290px;
    left: 232px;
    top: 370px;
    border: 1px solid #000;
    border-radius: 15px;
    display: block;
    padding: 10px 7px;
    background: url(../images/pic.png) no-repeat center;
    height: 343px;
    overflow: hidden;
}

span.male {
    position: absolute;
    width: 94px;
    height: 115px;
    background: url(../images/male.png);
    display: block;
    left: 254px;
    top: 67%;
}
span.male.on{
    background: url(../images/male_on.png);
}

span.female  {
    position: absolute;
    width: 94px;
    height: 115px;
    background: url(../images/female.png);
    display: block;
    left: 409px;
    top: 67%;
}
span.female.on{
    background: url(../images/female_on.png);
}

a.btn_pic {
    position: absolute;
    width: 348px;
    height: 121px;
    background: url(../images/btn_pic.png) no-repeat;
    left: 200px;
    top: 81%;
    display: block;
}

a.btn_start {
    position: absolute;
    width: 453px;
    height: 115px;
    background: url(../images/btn_start.png) no-repeat;
    left: 149px;
    top: 88%;
    display: block;
}

section.p5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/bg.jpg) no-repeat center;
    background-size: cover;
}
img.ping {
     position: relative;
     left: 74px;
     top: 122px;
 }
img.save_t {
    position: relative;
    margin: 0 auto;
    display: block;
    top: 147px;
}

a.btn_back {
    position: absolute;
    width: 267px;
    height: 74px;
    display: block;
    background: url(../images/back.png) no-repeat;
}

a.btn_back {
    position: absolute;
    width: 267px;
    height: 74px;
    display: block;
    background: url(../images/back.png) no-repeat;
    left: 94px;
    top: 1051px;
}
a.btn_share {
    position: absolute;
    width: 267px;
    height: 74px;
    display: block;
    background: url(../images/share.png) no-repeat;
    left: 417px;
    top: 1051px;
}

.sharetips {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5) url(../images/share_tips.png) no-repeat center 102px;
    background-size: inherit;
    top: 0;
    z-index: 99999;
}
section.p1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/p1.jpg) no-repeat center;
    background-size: cover;
    z-index: 4;
}
form#rightcmr {
    position: absolute;
    height: 360px;
    width: 480px;
    left: 221px;
    top: 360px;
}
input.rightcamera {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
}

@-webkit-keyframes hdmv {
    0% {
        -webkit-transform:translate(0px,0px);
        opacity: 1;
    }
    50% {
        -webkit-transform: translate(0px,-10px);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: translate(0px,0px);
        opacity: 1;
    }
}